@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #d6e2f0;
    max-height: 100vh;
}

.qr-block {
    background-color: #fff;
    max-width: 320px;
    border-radius: 20px;
    padding: 15px 15px 40px;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    width: 290px;
    border-radius: 10px;
}

h1 {
    font-size: 18px;
    font-weight: 700;
    margin: 15px;
    color: #1f3251;
}

p {
    font-size: 15px;
    color: #68778d;
    margin: 0 18px;
}